<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shweta Mandavgane Portfolio</title>
    <link rel="icon" href="../images/favicon.ico" type="image/xl-icon" />
    <link rel="stylesheet" href="../styles/mycss.css">
  </head>
  <body>
    <div class="container">
      <header>
            <ul class="nav">
              <li><a href="../index">Home</a></li>
              <li><a href="./education">Education</a></li>
              <li><a href="./experience">Work</a></li>
              <li><a href="./projects">Projects</a></li>
              <li><a class="current" href="#">Contact Shweta</a></li>
            </ul>
      </header>

      <div class="image-div">
        <br />
        <h3> Reach Shweta Mandavgane in following ways: </h3>
        <div class="grid-wrapper">
          <div class="grid-item">
            <img class="image-icons" src="../images/Email.png"></img>   
            <p>Email at: <br> <a href="mailto:mandavgane.s@northeastern.edu">mandavgane.s</a> </p> 
          </div>
          <div class="grid-item">
            <img class="image-icons" src="../images/linkedin.png"></img>   
            <p>Reach out at: <br> <a href="https://www.linkedin.com/in/shweta-mandavgane/">Shweta Mandavgane</a> 
          </div>
          <div class="grid-item">
            <img class="image-icons" src="../images/github.png"></img>   
            <p>Find projects at: <br> <a href="https://github.com/shwetamandavgane">Shweta Mandavgane</a> 
          </div>
          <div class="grid-item">
            <img class="image-icons" src="../images/favicon.ico"></img>   
            <p>Portfolio website: <br> <a href="https://portfolio.shwetamandavgane.net/">Shweta Mandavgane</a> 
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
