<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shweta Mandavgane Portfolio</title>
    <link rel="icon" href="../images/favicon.ico" type="image/xl-icon" />
    <link rel="stylesheet" href="../styles/mycss.css">
  </head>
  <body>
    <div class="container">
        <header>
            
                <ul class="nav">
                  <li><a href="../index">Home</a></li>
                  <li><a class="current" href="#">Education</a></li>
                  <li><a href="./experience">Work</a></li>
                  <li><a href="./projects">Projects</a></li>
                  <li><a href="./aboutme">Contact Shweta</a></li>
                </ul>
            
          </header>
          <div class="image-div">
            <div class="education-grid"> 
                <div class="education-grid-item">
                  <p >Masters of Science, Computer Science(2019 to 2021)<br>
                    GPA:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.8/4.0<br>
                    Relevant courses:&nbsp;&nbsp;&nbsp;Programming Design Paradigms, Algorithms & datastructures, Fundamentals of Cloud Computing,  Advanced Software Development</p>
                </div>
      
                <div class="education-grid-item">
                  <p >Bachelor of Engineering, Information Technology(2010 to 2013)<br>
                    Percentage:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;70%<br>
                    Relevant courses:&nbsp;&nbsp;&nbsp;Relational Database Design, Mobile Computing, Programming Design Paradigms, Algorithms & datastructures, Computer Networks, Object-Oriented Programming</p>
                </div>
                
                <div class="education-grid-item">
                  <p >Diploma, Computer Engineering(2007 to 2010)<br>
                    Percentage:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;85%<br>
                    Relevant courses:&nbsp;&nbsp;Relational Database Design, Programming Design Paradigms, Algorithms & datastructures, Computer Networks, Computer Security, Object-Oriented Programming</p>
                </div>
              </div>
            </div>
      </div>
  </body>
</html>
