<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shweta Mandavgane Portfolio</title>
    <link rel="icon" href="../images/favicon.ico" type="image/xl-icon" />
    <link rel="stylesheet" href="../styles/mycss.css">
  </head>
  <body>
    <div class="container">  
      <header>
        <ul class="nav">
          <li><a href="../index.html">Home</a></li>
          <li><a href="./education.html">Education</a></li>
          <li><a class="current" href="#">Work</a></li>
          <li><a href="./projects.html">Projects</a></li>
          <li><a href="./components/aboutme.html">Contact Shweta</a></li>
        </ul>
      </header>
    
      <span class="experience-image-span">  
        <p> Cloud Software Engineer Intern<br>
            Company: New York Life, New York City ⋅ 6/2020 to 11/2020<br>
            Technologies/Frameworks used: <br>
            Java Spring Boot, JPA, JWT , AWS Codepipeline/S3/KMS, PostgreSql
              <h5>My contributions:</h5>
                      <ul class="experience-ul">
                        <li> Co-designed,co-developed  a Spring Boot application from scratch for one of critical products of the organization</li> 
                        <li> Designed REST & SOAP APIs with Java Spring Boot framework for integrating various application modules</li>
                        <li>Developed Spring Boot REST API for retrieving binary data from SOAP API, converting the binary data to pdfs and using AWS S3, KMS, EC2 Linux instance to upload/download these pdf files using S3</li>
                        <li>Built batch jobs for multi-node environment to enable huge workload processing</li>
                        <li> SSO using JWT for Spring Boot application to enable security for entire backend application</li>
                        <li> Researched on various open source/licensed html to pdf conversion APIs to convert SVG html graphics to pdf  & conducted load tests using JMeter to check system performance when multiple users login simultaneously and system has to process huge pdfs.</li>
                      </ul>
          </p>  
      </span>
    </div>  
  </body>
</html>