<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>Shweta Mandavgane Portfolio</title>
    <link rel="icon" href="../images/favicon.ico" type="image/xl-icon" />
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/navbar.css">
  </head>
  <body>
    <div class="container">
      <header>
        <ul class="nav">
          <li><a href="../index">Home</a></li>
          <li><a href="./education">Education</a></li>
          <li><a class="current" href="#">Projects</a></li>
          <li><a href="./experience">Work</a></li>
          <li><a href="./aboutme">Contact Shweta</a></li>
        </ul>
      </header>
      
      <div class="project-image-div">
        <div class="project-grid"> 
          <div class="project-grid-item">
            <p>my-portfolio &nbsp;
              <a href="https://github.com/shwetamandavgane/my-portfolio" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
              <a href="https://portfolio.shwetamandavgane.net/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a><br>
              Developed a professional website using ReactJs,Git and CI/CD pipeline using AWS<br>
              Skills: &nbsp;&nbsp;&nbsp;Javascript&nbsp;&nbsp;Python&nbsp;&nbsp;AWS S3&nbsp;&nbsp;React&nbsp;&nbsp;Lambda&nbsp;&nbsp;Route 53 &nbsp;&nbsp; CloudFront&nbsp;&nbsp;Boto3&nbsp;&nbsp;AWS CodePipeline</p>
          </div>
    
          <div class="project-grid-item">
            <p>user-microservice &nbsp;
              <a href="https://github.com/climatetree/user-microservice" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
              <a href="https://www.climatetree.wiki/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a><br>
               Co-developed ClimateTree project in Advanced Software Development course at Northeastern University<br>
                  Skills: &nbsp;&nbsp;&nbsp;PostGreSQL&nbsp;&nbsp;JavaOauth0&nbsp;&nbsp;Google and Facebook login console&nbsp;&nbsp;Spring Boot&nbsp;&nbsp;JWT&nbsp;&nbsp;microservices</p>
          </div>
              
          <div class="project-grid-item">
            <p>unnati &nbsp;
              <a href="https://github.com/shwetamandavgane/unnati" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
              <a href="https://unnati-application.herokuapp.com/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a><br>Unnati is a common platform for all international students moving to the US for education. The development is still in progress and the site is hosted on Heroku.<br>
                  Skills: &nbsp;&nbsp;&nbsp;Javascript&nbsp;&nbsp;HTML&nbsp;&nbsp;Heroku&nbsp;&nbsp;CSS&nbsp;&nbsp;</p>
          </div>

          <div class="project-grid-item">
            <p>Scaling Giant Tigle &nbsp;
                  <a href="https://github.com/shwetamandavgane/bsds-assignment1" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
                  <a href="http://ec2-34-207-115-109.compute-1.amazonaws.com/ServerAssignment1_war/gianttigle/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a><br>Assignment 1 of Building Scalable Distributed Systems course<br>
                    Skills: &nbsp;&nbsp;&nbsp;Java Multithreading&nbsp;&nbsp;Spring Boot&nbsp;&nbsp;AWS EC2&nbsp;&nbsp;</p>
          </div>

          <div class="project-grid-item">
            <p>aws-codepipeline &nbsp;
                  <a href="https://github.com/shwetamandavgane/AWS-Codepipeline" target="_blank"><img class="image-icons" src="../images/github.png"></img></a><br> Entire CI/CD using Git and AWS CodePipeline<br>
                    Skills: &nbsp;&nbsp;&nbsp;AWS S3 & EC2&nbsp;&nbsp;AWS CodeBuild &nbsp; &nbsp;AWS CodeDeploy&nbsp;&nbsp; Git</p>
          </div>
          <div class="project-grid-item">
            <p>aws-codepipeline &nbsp;
                  <a href="https://github.com/shwetamandavgane/AWS-Codepipeline" target="_blank"><img class="image-icons" src="../images/github.png"></img></a><br> Entire CI/CD using Git and AWS CodePipeline<br>
                    Skills: &nbsp;&nbsp;&nbsp;AWS S3 & EC2&nbsp;&nbsp;AWS CodeBuild &nbsp; &nbsp;AWS CodeDeploy&nbsp;&nbsp; Git</p>
          </div>
          <div class="project-grid-item">
            <p>aws-codepipeline &nbsp;
                  <a href="https://github.com/shwetamandavgane/AWS-Codepipeline" target="_blank"><img class="image-icons" src="../images/github.png"></img></a><br> Entire CI/CD using Git and AWS CodePipeline<br>
                    Skills: &nbsp;&nbsp;&nbsp;AWS S3 & EC2&nbsp;&nbsp;AWS CodeBuild &nbsp; &nbsp;AWS CodeDeploy&nbsp;&nbsp; Git</p>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>
