<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shweta Mandavgane Portfolio</title>
    <link rel="icon" href="../images/favicon.ico" type="image/xl-icon" />
    <link rel="stylesheet" href="../styles/mycss.css">
  </head>
  <body>
    <div class="container">
      <header>
        <ul class="nav">
          <li><a href="../index">Home</a></li>
          <li><a href="./education">Education</a></li>
          <li><a class="current" href="#">Projects</a></li>
          <li><a href="./experience">Work</a></li>
          <li><a href="./aboutme">Contact Shweta</a></li>
        </ul>
      </header>
      
      <div class="project-image-div">
        <div class="education-grid"> 
          <div class="education-grid-item">
            <p>my-portfolio &nbsp;
              <a href="https://github.com/shwetamandavgane/my-portfolio" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
              <a href="https://portfolio.shwetamandavgane.net/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a></p>
              <p> <br>Developed a professional website using ReactJs,Git and CI/CD pipeline using AWS<br>
                  Skills: &nbsp;&nbsp;&nbsp;Javascript&nbsp;&nbsp;Python&nbsp;&nbsp;AWS S3&nbsp;&nbsp;React&nbsp;&nbsp;Lambda&nbsp;&nbsp;Route 53 &nbsp;&nbsp; CloudFrontBoto3AWS CodePipeline</p>
          </div>
    
          <div class="education-grid-item">
            <p>user-microservice &nbsp;
              <a href="https://github.com/climatetree/user-microservice" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
              <a href="https://www.climatetree.wiki/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a></p>
              <p> <br>Co-developed ClimateTree project in Advanced Software Development course at Northeastern University<br>
                  Skills: &nbsp;&nbsp;&nbsp;PostGreSQL&nbsp;&nbsp;JavaOauth0&nbsp;&nbsp;Google and Facebook login console&nbsp;&nbsp;Spring Boot&nbsp;&nbsp;JWT&nbsp;&nbsp;microservices</p>
          </div>
              
          <div class="education-grid-item">
            <p>unnati &nbsp;
              <a href="https://github.com/shwetamandavgane/unnati" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
              <a href="https://unnati-application.herokuapp.com/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a></p>
              <p> <br>Unnati is a common platform for all international students moving to the US for education. The development is still in progress and the site is hosted on Heroku.<br>
                  Skills: &nbsp;&nbsp;&nbsp;Javascript&nbsp;&nbsp;HTML&nbsp;&nbsp;Heroku&nbsp;&nbsp;CSS&nbsp;&nbsp;</p>
          </div>

          <div class="education-grid-item">
            <p>Scaling Giant Tigle &nbsp;
                  <a href="https://github.com/shwetamandavgane/bsds-assignment1" target="_blank"><img class="image-icons" src="../images/github.png"></img></a>
                  <a href="http://ec2-34-207-115-109.compute-1.amazonaws.com/ServerAssignment1_war/gianttigle/" target="_blank"><img class="image-icons" src="../images/url.png"></img></a></p>
                  <p> <br>Assignment 1 of Building Scalable Distributed Systems course<br>
                    Skills: &nbsp;&nbsp;&nbsp;Java Multithreading&nbsp;&nbsp;Spring Boot&nbsp;&nbsp;AWS EC2&nbsp;&nbsp;</p>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>
