h5 {
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
}

.experience-image-span {
  word-wrap: break-word;
  flex: 60%;
  z-index: 2;
  position: fixed;
  margin-top: 3%;
  margin-left: 8%;
  width: 50%;
  text-align: justify;
  height: 85%;
  font-family: inherit;
  font-size: 1em;
}

.experience-ul {
  font-size: 14px;
  font-style: italic;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .experience-image-span {
    word-wrap: break-word;
    flex: auto;
    z-index: 2;
    position: fixed;
    margin-top: 20%;
    margin-left: inherit;
    width: auto;
    text-align: left;
    height: auto;
    overflow: scroll;
  }
}
