.project-image-div {
  overflow: auto;
  word-wrap: break-word;
  flex: auto;
  z-index: 2;
  position: fixed;
  margin-top: 3%;
  margin-left: 3%;
  width: 75%;
  text-align: left;
  height: 90%;
}

h3 {
  margin-left: 10%;
  font-weight: normal;
  font-style: italic;
}

.project-grid {
  display: grid;
  margin-top: 2%;
  margin-left: inherit;
  grid-template-rows: auto;
  width: inherit;
}

.project-p {
  text-align: justify;
  word-wrap: break-word;
  margin-top: 0%;
  margin-left: 0%;
  width: inherit;
}

.project-h3 {
  margin-top: 0%;
  margin-bottom: 0%;
}

.project-grid-item {
  margin-left: inherit;
  background-color: #80cbc4;
  border: 2px solid #fff;
  padding-left: 1%;
  padding-bottom: 1%;
  font-size: 1rem;
  font-weight: normal;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: inherit;
  height: auto;
}

h5 {
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0%;
}

.image-icons {
  width: 30px;
  height: 30px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .project-image-div {
    word-wrap: break-word;
    flex: auto;
    z-index: 2;
    position: fixed;
    margin-top: 30%;
    margin-left: inherit;
    width: auto;
    text-align: left;
    height: auto;
    overflow: scroll;
  }
}
